html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: 0.2s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

#kattintasok {
  font-size: 90px;
}
